graphs/
reports/
/ledge.txt
/aggrhead
/aggrhead.hi
/aggrhead.o
/movingsum
/movingsum.hi
/movingsum.o
/movingsum7
/ledge.txt.bak
/new_ledge.txt
/dedup_rules.csv
pricedb/
/days.txt
/price.db
/selection.txt
